<div class="site-content-container">
    <h3>Hello</h3>
    <div class="row">
        {{#task-box title="Tasks"}}
            
        {{/task-box}}
        
        {{task-box title="hbts"}}
        <div class="col-sm-8">
          <h4>Goals: {{content.goals.length}}</h4>
          <ul>
            {{#each content.goals as |goal|}}
              <li>{{goal.title}}: {{goal.desc}}</li>
            {{/each}}
          </ul>

          {{input value=goalTitle placeholder="create new goal"}}
          <button type="button" name="button" {{action 'addGoal' goalTitle}}>Create Goal</button>
        </div>
        <div class="col-sm-4">
          <h4>Note for today</h4>
          {{#if (not note)}}
            <button type="button" name="button" {{action 'addNote'}}>Add Note</button>
          {{else}}
            {{textarea value=note}}
            <button type="button" name="button" {{action 'clearNote'}}>Clear Note</button>
            <button type="button" name="button" {{action 'saveNote'}}>Save Note</button>
          {{/if}}
        </div>
    </div>


    
</div>
